{% if menu %}
	<nav role="navigation" class="p-menu">
		<ul class="p-menu__items">
			{% for item in items %}
				<li class="{{ item.classes | join(' ') }}">
					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					{% if item.children %}
						<ul class="p-menu__items">
							{% for item in item.children %}
								<li class="{{ item.classes | join(' ') }}">
									<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
