<section class="b-hero-home">
    <div class="container">
        {% for item in block.custom_fields.items %}
            <article class="b-hero-home__item">
                <h3 class="b-hero-home__item-suptitle">{{ item.suptitle }}</h3>
                <h2 class="b-hero-home__item-title">{{ item.title }}</h2>
                <div class="b-hero-home__item-content">{{ item.content }}</div>
                {% if item.cta %}
                    <a href="{{ item.cta.url }}">{{ item.cta.title }}</a>
                {% endif %}
            </article>
        {% endfor %}
    </div>
</section>